# Server Configuration
SERVER_PORT=:8080

# PostgreSQL Connection String
DATABASE_URL=postgres://admin:adminpassword@localhost:5432/task_db?sslmode=disable

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# WORKER
WORKER_INTERVAL=1m